@model Models.Models.CartInformation
<div>

    <div style="margin-left:250px; margin-right:250px">

        @using (Html.BeginForm("CartShipping", "Cart", FormMethod.Get))
        {

            <div class="row col-12">
                <div class="col-6">

                    <h4 style="float:left" class="modal-title">DEBRA</h4>
                    <br />
                    <br />
                    <div class="row" style="margin-left:12px">
                        <p style="color:pink">Cart</p>&nbsp;
                        <p>></p>&nbsp;
                        <p style="color:pink">Information</p> &nbsp;
                        <p>></p>&nbsp;
                        <p>Shipping</p>
                        <p>></p>&nbsp;
                        <p>Payment</p>
                    </div>
                    <div class="row">

                        <div class="container">
                            <br />
                            <br />
                            <table class="table table-bordered">
                                <tr>
                                    <th>Contact</th>
                                    <td>@Model.Orders.Email</td>
                                    <td style="color:red"><a href="#">Change</a></td>
                                </tr>
                                <tr>
                                    <th>Ship to</th>
                                    <td>@Model.Orders.Address</td>
                                    <td style="color:red"><a href="#">Change</a></td>
                                </tr>
                            </table>
                            <br />
                            <br />
                            <h5>Shipping  method</h5>
                            <input type="text" value="Standart" class="form-control" disabled />
                            <br />
                            <br />
                            <div class="row col-12">
                                <div class="col-6">
                                    <a href="@Url.Action("Cart", "Cart")"> &nbsp;<p style="color:pink">Return to Information</p></a>
                                </div>
                                <div style="float:right">
                                    <button class="btn btn-danger" type="submit" id="btnMyModalSecond">Continue to payment</button>

                                </div>
                            </div>

                        </div>




                    </div>



                </div>
                <div class="col-6 jumbotron">
                    <br />
                    <br />

                    @{
                        int totalPriceFinal = 0;
                        int tFin = 0;
                        int counter = 0;
                        foreach (var item in Model.Products)
                        {
                            int totalPrice = int.Parse(Model.MyBasket.Quantity[counter].ToString()) * int.Parse(item.Price.ToString());
                            totalPriceFinal += totalPrice;
                            <div class="row col-12">
                                <div class="col-2">
                                    <img src="@item.PhotoPath" width="50" />
                                </div>
                                <div class="col-6">
                                    <p>@item.NameOfProduct</p>
                                </div>
                                <div class="col-4">
                                    <td>$@totalPrice</td>
                                </div>
                            </div>
                            counter++;
                        }

                    }

                    <br />
                    <hr />
                    <br />
                    <div class="row col-12">
                        <div class="col-4">
                            Subtotal
                        </div>
                        <div>
                            $@totalPriceFinal
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="col-4">
                            Shipping
                        </div>
                        <div>
                            Calculated at next step
                        </div>
                    </div>


                    <br />
                    <hr />
                    <br />
                    <div class="row col-12">
                        <div class="col-8">
                            <h3>Total</h3>

                        </div>
                        <div>
                            <h6>USD &nbsp;  $@totalPriceFinal</h6>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#appHeader").attr("hidden", true);
        $("#appFooter").attr("hidden", true);
    });

</script>








